<!--<form name="user" method="post" action="/resume">-->
    <form (submit)="addUser(name, passwd)">
        
        <div style="margin:20px">
        
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type="text" name="name" class="form-control" [(ngModel)]="name" placeholder="Name" aria-describedby="basic-addon1" style="width:500px">
        </div>
        
        <!--<div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">email</span>
            <input type="text" name="email" class="form-control"  placeholder="email" aria-describedby="basic-addon1" style="width:460px">
        </div>-->
        
        <div class="input-group" style="margin-bottom:20px">
                <span class="input-group-addon" id="basic-addon1">password</span>
                <input type="text" name="passwd" class="form-control" [(ngModel)]="passwd" placeholder="password" aria-describedby="basic-addon1" style="width:460px">
        </div>
        <div>
        <button type="submit">Join in</button>
        </div>
        </div>
        </form>