<hr/>
<div class="container">
    
        <table class="table table-striped">            
            <thead>
                <tr>
                    <th>post id</th>
                    <th>user name</th>
                    <th>subject</th>
                    
                    <th>date</th>
                </tr>
            </thead>
            <ng-container *ngFor="let contact of results">
            <tbody>
                <tr>
                    <td>{{contact.id}}</td>
                    <td>{{contact.title}}</td>
                    <td><a routerLink="/js_board/{{contact.id}}">{{contact.title}}</a>
                      </td>
                    
                    <td>{{contact.reg_date}}</td>    
                </tr>
            </tbody>
            </ng-container>
        </table>


<hr/>
<a routerLink="/ws_post" routerLinkActive="active" class="btn btn-default pull-right">Post</a>
<div class=text-center>
    <ul class="pagination">
        <li><a href="#">1</a></li>
        
    </ul>
</div>
</div>


