<!--<form name="user" method="post" action="/resume">-->
    <form (submit)="addpost(title, category, no_of_vacancies, experience_required, job_mode, salary, qualification, apply_before, address, description, remarks, skills)">
        
        <div style="margin:20px">
        
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">Title</span>
            <input type="text" name="title" class="form-control" [(ngModel)]="title" placeholder="title" aria-describedby="basic-addon1" style="width:500px">
        </div>
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">category</span>
            <input type="text" name="category" class="form-control" [(ngModel)]="category" placeholder="category" aria-describedby="basic-addon1" style="width:500px">
        </div>
        
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">no_of_vacancies</span>
            <input type="text" name="no_of_vacancies" class="form-control" [(ngModel)]="no_of_vacancies" placeholder="no_of_vacancies" aria-describedby="basic-addon1" style="width:460px">
        </div>
        
        <div class="input-group" style="margin-bottom:20px">
                <span class="input-group-addon" id="basic-addon1">experience_required</span>
                <input type="text" name="experience_required" class="form-control" [(ngModel)]="experience_required" placeholder="experience_required" aria-describedby="basic-addon1" style="width:460px">
        </div>
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon" id="basic-addon1">job_mode</span>
            <input type="text" name="job_mode" class="form-control" [(ngModel)]="job_mode" placeholder="job_mode" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">salary</span>
        <input type="text" name="salary" class="form-control" [(ngModel)]="salary" placeholder="salary" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">qualification</span>
        <input type="text" name="qualification" class="form-control" [(ngModel)]="qualification" placeholder="qualification" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">apply_before</span>
        <input type="text" name="apply_before" class="form-control" [(ngModel)]="apply_before" placeholder="apply_before" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">address</span>
        <input type="text" name="address" class="form-control" [(ngModel)]="address" placeholder="address" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">description</span>
        <input type="text" name="description" class="form-control" [(ngModel)]="description" placeholder="description" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">remarks</span>
        <input type="text" name="remarks" class="form-control" [(ngModel)]="remarks" placeholder="remarks" aria-describedby="basic-addon1" style="width:460px">
    </div>
    <div class="input-group" style="margin-bottom:20px">
        <span class="input-group-addon" id="basic-addon1">skills</span>
        <input type="text" name="skills" class="form-control" [(ngModel)]="skills" placeholder="skills" aria-describedby="basic-addon1" style="width:460px">
    </div>

        <div>
            <button type="submit">Post</button>
        </div>
        </div>
    </form>
