<app-header></app-header>
    <div class="container">

      <form class="form-signin" (submit)="login(email, password)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
       
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        <div style="margin-bottom:20px">
         <a routerLink="/join" routerLinkActive="active">join in</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
