<app-header></app-header>
<body>

        <div class="container">
        
        <div class="page-header">
        
        <h1>{{results.title}}</h1>
        </div>
        <p class="lead">category: {{results.category}}</p>
        <p class="lead">no_of_vacancies: {{results.no_of_vacancies}}</p>
        <p class="lead">experience_required: {{results.experience_required}}</p>
        <p class="lead">job_mode: {{results.job_mode}}</p>
        <p class="lead">salary: {{results.salary}}</p>
        <p class="lead">qualification: {{results.qualification}}</p>
        <p class="lead">apply_before: {{results.apply_before}}</p>
        <p class="lead">address: {{results.address}}</p>
        <p class="lead">description: {{results.description}}</p>
        <p class="lead">remarks: {{results.remarks}}</p>
        <p class="lead">skills: {{results.skills}}</p>
       
        <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
        </div>

        <footer class="footer">
        <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
        </div>
        </footer>


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>